<div class="photo-profile-container">
    <div class="loop cubes">
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
        <div class="item cubes"></div>
    </div>
    <div class="title-container">
        <h1>Hi there!👋🏽</h1>
        <h1>I'm <span style="color:fuchsia">Ignacio</span></h1>
        <hr>
        <h2>Software Engineer</h2>
        <h3>Pasionate about software engineering, web development and cybersecurity</h3>
    </div>

    <div class="profile-container">
        <div class="profile-picture avatar">
            <img src="/assets/img/profilepic.png" alt="Foto de perfil">
        </div>
        <a class="button" href="https://drive.google.com/file/d/1SS8S0bEYXFSLx-HlZN_iMM3swMSmfPTZ/view?usp=sharing">
            DOWNLOAD CV;
        </a>
    </div>
</div>