<div id="about-me-section">
    <h1>About Me</h1>
    <div class="info-container">
        <div class="column-item">
            <h2>Description</h2>
            <hr>
            <p class="paragraph-text">Recently graduated with a Civil Informatics Engineering degree from the Pontificia
                Universidad Católica de Valparaíso. This comprehensive program equips me to manage complex projects and
                adapt to diverse work environments. Highly motivated and adaptable professional with a strong commitment
                to ethical conduct and continuous learning. Possess excellent communication skills (written and verbal)
                and thrive in collaborative settings. Proven ability to apply strong analytical and problem-solving
                skills to design and implement innovative solutions utilizing mathematical and engineering principles.
                Passionate about developing efficient and scalable software solutions. Eager to leverage my skills in
                data processing and information generation to contribute to real-world problem-solving.
            </p>
        </div>
        <div class="column-item">
            <h2>Skills</h2>
            <hr>
            <div id="img-skills-container">

                <div class="card-skills">
                    <h4>Project Management &#38; Soft Skills</h4>
                    <div>
                        <div class="technology">
                            <img src="/assets/img/git.png" alt="Git">
                            <p>Git</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/jira.png" alt="Jira">
                            <p>Jira</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/trello.png" alt="Trello">
                            <p>Trello</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/scrum.png" alt="Scrum">
                            <p>Scrum</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/kanban.png" alt="Kanban">
                            <p>Kanban</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/teamwork.png" alt="Teamwork">
                            <p>Teamwork</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/planification.png" alt="Planification">
                            <p>Planification</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/communication.png" alt="Communication">
                            <p>Communication</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/problemsolving.png" alt="Problem Solving">
                            <p>Problem Solving</p>
                        </div>
                    </div>
                </div>

                <div class="card-skills">
                    <h4>Frontend</h4>
                    <div>
                        <div class="technology">
                            <img src="/assets/img/angular.png" alt="Angular">
                            <p>Angular</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/ionic.png" alt="Ionic">
                            <p>Ionic</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/javascript.png" alt="Javascript">
                            <p>Javascript</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/vuejs.png" alt="VueJS">
                            <p>VueJS</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/react.png" alt="React">
                            <p>React</p>
                        </div>
                    </div>
                </div>

                <div class="card-skills">
                    <h4>Backend</h4>
                    <div>
                        <div class="technology">
                            <img src="/assets/img/pythonlogo.png" alt="Python">
                            <p>Python</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/java.png" alt="Java">
                            <p>Java</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/nodejs.png" alt="NodeJs">
                            <p>NodeJs</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/flask.png" alt="Flask">
                            <p>Flask</p>
                        </div>

                        <div class="technology">
                            <img src="/assets/img/django.png" alt="Django">
                            <p>Django</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/fastapi.svg" alt="FastAPI">
                            <p>FastAPI</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/C++.png" alt="C++">
                            <p>C++</p>
                        </div>
                    </div>
                </div>

                <div class="card-skills">
                    <h4>Cloud &#38; Infrastructure</h4>
                    <div>
                        <div class="technology">
                            <img src="/assets/img/gcp.png" alt="GCP">
                            <p>Google Cloud Platform</p>
                        </div>

                        <div class="technology">
                            <img src="/assets/img/firebase.png" alt="Firebase">
                            <p>Firebase</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/linux.png" alt="Linux">
                            <p>Linux</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/docker.png" alt="Docker">
                            <p>Docker</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/raspberrypi.png" alt="Raspberry Pi">
                            <p>Raspberry Pi</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/arduino.png" alt="Arduino">
                            <p>Arduino</p>
                        </div>
                    </div>
                </div>

                <div class="card-skills">
                    <h4>Databases</h4>
                    <div>
                        <div class="technology">
                            <img src="/assets/img/postgresql.png" alt="PostgreSQL">
                            <p>PostgreSQL</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/mongodb.png" alt="MongoDB">
                            <p>MongoDB</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/mysql.png" alt="MySQL">
                            <p>MySQL</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/sqlite.png" alt="SQLite">
                            <p>SQLite</p>
                        </div>
                        <div class="technology">
                            <img src="/assets/img/mariadb.png" alt="MariaDB">
                            <p>MariaDB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-item">
            <h2>Work Experience</h2>
            <hr>
            <h3><span style="color: fuchsia;">Software Engineer Intern</span> - SENIOR ALYWEN Spa.</h3>
            <p>March 2023 - June 2023</p>
            <p class="paragraph-text"> Professional internship where i developed and maintained backend functionalities for a mobile
                application used in a
                care home environment, supporting features like turn management, task assignment, and
                medication administration. Used Django framework and Sqlite database for efficient data management and
                retrieval.
            </p>
            <h3><span style="color: fuchsia;">Software Engineer</span> - Semantia Spa.</h3>
            <p>December 2021 - June 2022</p>
            <p class="paragraph-text">Professional internship and part-time work involving the lift, analysis, and integration of requirements
                related to the promotion of the service and the operation of Brandon Metrics (Main Brand).
                Responsibilities
                also included the implementation of an agile environment in collaboration with the team, as well as
                infrastructure management on the Google Cloud Platform. Technologies used during this experience
                encompassed
                NodeJS, Typescript, PostgreSQL, FastAPI, Express, and Docker.</p>
            <h3> <span style="color: fuchsia;">Backend Developer Intern</span> - Digital Partners</h3>
            <p>August 2021 - December 2021</p>
            <p class="paragraph-text">Internship conducted as part of the software engineering workshop course, focusing on the backend
                developer
                role in the integration of the RFP module. Responsibilities included the identification and lifting of
                formal requirements. Technologies utilized during this internship encompassed Django, GraphQL, and
                PostgreSQL.</p>
        </div>
    </div>

</div>