#about-me-section {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    --s: 48px;
    /* control the size */

    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

    color: white;

    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.column-item {
    width: 100%;
    box-sizing: border-box;
}

.info-container {
    display: flex;
    column-count: 2;
    flex-wrap: wrap;
    column-gap: 2rem;
}

h2,
h3,
p {
    margin-bottom: 10px;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

#img-skills-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card-skills {
    box-sizing: border-box;
    width: 30%;
    height: auto;
    background: linear-gradient(to bottom, rgb(88, 14, 128) 0%, rgba(184, 65, 248, 0.864) 100%);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    padding: 5%;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    font-weight: bolder;
    color: white;

    div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: auto;
    }
}

.card-skills:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card-skills:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

img {
    width: 80px;
}

.technology {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-size: 12px;
}

.paragraph-text {
    text-align: justify;
    text-justify: inter-word;
}

@media (max-width:768px) {

    .card-skills {
        width: 100%;
    }
}