<div id="about-me-section">
    <h1>About Me</h1>
    <div class="info-container">
        <div class="column-item">
            <h2>Description</h2>
            <hr>
            <p class="paragraph-text">I am a Computer Civil Engineer recently graduated,
                with a passionate focus on software engineering, cybersecurity, and IT infrastructure. I
                stand out for my problem-solving ability, resilience,
                responsibility, and leadership. Committed to efficiency and
                scalability in technological solutions.
            </p>
        </div>
        <div class="column-item">
            <h2>Skills</h2>
            <hr>
            <div id="img-skills-container">

                <div class="card-skills">
                    <h3>Frontend</h3>
                    <div>
                        <img src="/assets/img/angular.png" alt="Angular">
                        <img src="/assets/img/ionic.png" alt="Flask">
                        <img src="/assets/img/javascript.png" alt="Flask">
                        <img src="/assets/img/vuejs.png" alt="VueJS">
                        <img src="/assets/img/react.png" alt="React">
                    </div>
                </div>

                <div class="card-skills">
                    <h3>Backend</h3>
                    <div>
                        <img src="/assets/img/java.png" alt="Java">
                        <img src="/assets/img/flask.png" alt="Flask">
                        <img src="/assets/img/nodejs.png" alt="NodeJs">
                        <img src="/assets/img/django.png" alt="Django">
                        <img src="/assets/img/C++.png" alt="C++">
                    </div>
                </div>

                <div class="card-skills">
                    <h3>Cloud &#38; Infrastructure</h3>
                    <div>
                        <img src="/assets/img/gcp.png" alt="GCP">
                        <img src="/assets/img/firebase.png" alt="Firebase">
                        <img src="/assets/img/linux.png" alt="Linux">
                        <img src="/assets/img/docker.png" alt="Docker">
                        <img src="/assets/img/raspberrypi.png" alt="Raspberry Pi">
                        <img src="/assets/img/arduino.png" alt="Arduino">
                    </div>
                </div>

                <div class="card-skills">
                    <h3>Databases</h3>
                    <div>
                        <img src="/assets/img/postgresql.png" alt="PostgreSQL">
                        <img src="/assets/img/mongodb.png" alt="MongoDB">
                        <img src="/assets/img/mysql.png" alt="MySQL">
                        <img src="/assets/img/sqlite.png" alt="SQLite">
                        <img src="/assets/img/mariadb.png" alt="MariaDB">
                    </div>
                </div>
            </div>

        </div>
        <div class="column-item">
            <h2>Work Experience</h2>
            <hr>
            <h3><span style="color: fuchsia;">Software Engineer Intern</span> - SENIOR ALYWEN Spa.</h3>
            <p>MAR 2023 - June 2023</p>
            <p> Professional internship where i developed and maintained backend functionalities for a mobile application used in a
                care home environment, supporting features like turn management, task assignment, and
                medication administration. Used Django framework and Sqlite database for efficient data management and retrieval.
                </p>
            <h3><span style="color: fuchsia;">Software Engineer</span> - Semantia Spa.</h3>
            <p>December 2021 - June 2022</p>
            <p>Professional internship and part-time work involving the lift, analysis, and integration of requirements
                related to the promotion of the service and the operation of Brandon Metrics (Main Brand).
                Responsibilities
                also included the implementation of an agile environment in collaboration with the team, as well as
                infrastructure management on the Google Cloud Platform. Technologies used during this experience
                encompassed
                NodeJS, Typescript, PostgreSQL, FastAPI, Express, and Docker.</p>
            <h3> <span style="color: fuchsia;">Backend Developer Intern</span> - Digital Partners</h3>
            <p>August 2021 - December 2021</p>
            <p>Internship conducted as part of the software engineering workshop course, focusing on the backend
                developer
                role in the integration of the RFP module. Responsibilities included the identification and lifting of
                formal requirements. Technologies utilized during this internship encompassed Django, GraphQL, and
                PostgreSQL.</p>
        </div>
    </div>

</div>