<div id="about-me-section">
    <div class="column-item">
        <h2>About Me</h2>
        <hr>
        <p class="paragraph-text">I am a Computer Civil Engineer recently graduated,
            with a passionate focus on software engineering, cybersecurity, and IT infrastructure. I
            stand out for my problem-solving ability, resilience,
            responsibility, and leadership. Committed to efficiency and
            scalability in technological solutions.
        </p>
    </div>
    <div class="column-item">
        <h2>Work Experience</h2>
        <hr>
        <h3><span style="color: fuchsia;">Software Engineer</span> - Semantia Spa.</h3>
        <p>December 2021 - June 2022</p>
        <p>Professional internship and part-time work involving the lift, analysis, and integration of requirements
            related to the promotion of the service and the operation of Brandon Metrics (Main Brand). Responsibilities
            also included the implementation of an agile environment in collaboration with the team, as well as
            infrastructure management on the Google Cloud Platform. Technologies used during this experience encompassed
            NodeJS, Typescript, PostgreSQL, FastAPI, Express, and Docker.</p>
        <h3> <span style="color: fuchsia;"> Backend Developer</span> - Digital Partners</h3>
        <p>August 2021 - December 2021</p>
        <p>Internship conducted as part of the software engineering workshop course, focusing on the backend developer
            role in the integration of the RFP module. Responsibilities included the identification and lifting of
            formal requirements. Technologies utilized during this internship encompassed Django, GraphQL, and
            PostgreSQL.</p>
    </div>
</div>