<mat-toolbar id="nav-bar">
    <!-- <div id="language">EN/ES</div> -->
    <div id="nav-items">
        <a class="nav-item" href="#">Home</a>
        <a class="nav-item" href="#">About Me</a>
        <a class="nav-item" href="#">Projects</a>
        <a class="nav-item" href="#">Contact Me</a>
    </div>

    <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="#">
                <li>Home</li>
            </a>
            <a href="#">
                <li>About</li>
            </a>
            <a href="#">
                <li>Projects</li>
            </a>
            <a href="#">
                <li>Contact Me</li>
            </a>
        </ul>
    </div>
</mat-toolbar>