.card {
    padding: 20px;
    width: 330px;
    height: 100%;
    border-radius: 20px;
    background: #e8daf0;
    transition: 0.4s;
    
}

.card:hover {
    translate: 0 -10px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
}

.card-image {
    height: 180px;
    width: 180px;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
        inset -8px -8px 10px #cfcfcf;
}

.card-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
}

.footer {
    display: flex;
    align-items: end;
    padding: 1rem;
    gap: 1rem;
    font-size: 13px;
    color: #636363;
    height: auto;
}

#projects-container {
    background: linear-gradient(to bottom, rgb(88, 14, 128) 0%, rgba(184, 65, 248, 0.864) 100%);
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 3%;
    padding-top: 3%;    
}

#cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem; 
}

.parent{
    padding: 1rem;
    display: flex;
}

#p-section-title {
    align-self: center;
    font-size: 48px;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.card-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.btn {
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}



@media (max-width:768px) {

    #projects-container {
        align-items: center;
    }

    #cards-container {
        flex-direction: column;
        align-items: center;
    }
}