<div id="projects-container">
    <h2 id="p-section-title">My Projects</h2>
    <div id="cards-container">
        <div class="category" *ngFor="let category of getKeys(projects);">
            <h3>{{category}}</h3>
            <div class="card-projects">
                <div class="parent" *ngFor="let project of projects[category];">
                    <div class="card">
                        <img class="card-image" src="{{project.project_picture}}">
                        <p class="card-title">{{project.project_title}}</p>
                        <p class="card-body">
                            {{project.project_description}}
                        </p>

                        <p class="footer">
                            <a class="btn" href="{{project.project_link}}">
                                See project
                            </a>
                            <span class="date">{{project.project_months}},
                                {{project.project_year_date}}.
                            </span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>